@use 'variaveis';

$breakpoint-mobile: 768px;

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: variaveis.$corDeFundo;
    transition: background-color .5s ease;
    z-index: 1;

    &--is-hidden {
        background-color: transparent;
        transition: background-color .5s ease;

        .header {
            &__logo, &__links__item:first-child {
                opacity: 0;
                visibility: hidden;
                transition: opacity .5s ease;
            }
        }
    }

    &__container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: $breakpoint-mobile) {
            padding: 8px 16px; 
        }
    }
    
    &__logo {
        max-width: 80px; 
        width: 100%;
        margin: 5px;
        transition: opacity .5s ease;

        @media screen and (max-width: $breakpoint-mobile) {
            max-width: 95px; 
            margin: 0; 
        }
    }
    
    &__links {
        display: flex;
        align-items: center; 

        &__item {
            margin: 5px;
            transition: opacity .5s ease;

            @media screen and (max-width: $breakpoint-mobile) {
                margin: 0 4px; 
            }
        }
    }
    .button {
        height: 50px;
    }
}

