@use 'variaveis';
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;

.plans {
    padding: 5.6vw;
    max-width: 1200px;
    margin: 0 auto;

    @media screen and (max-width: $breakpoint-mobile) {
        padding: 4vw;
    }

    h2 {
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
        
        @media screen and (max-width: $breakpoint-tablet) {
            flex-direction: column;
            align-items: center;
            gap: 24px;
            margin-top: 24px;
        }
        
        &__item{
            text-align: center;
            padding: 60px 44px 44px;
            max-width: 380px;
            width: 100%;

            @media screen and (max-width: $breakpoint-tablet) {
                max-width: 90%; 
                padding: 30px 20px;
            }

            &:nth-child(2) {
                background-image: url(../images/fundo_combo_plus.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }

            img {
                height: 83px;
                @media screen and (max-width: $breakpoint-mobile) {
                    height: 60px; 
                }
            }

            strong {
                display: block;
                margin-top: 24px;
            }
        }
    }

    p {
        text-align: center;
    }
}